<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             initializeData="ADBlocker.log" traceOutputOptions="DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="AD:Domain" value="AD Domain" />
    <add key="AD:User" value="AD Blocker UserName" />
    <add key="AD:Password" value="AD Blocker Password" />
    <add key="Skills:ApiUrl" value="http://localhost:29457" />
    <add key="Skills:AppId" value="SkillsAppId" />
    <add key="Skills:AppSecret" value="SkillsAppSecret" />
    <add key="Skills:SSLPublicKey" value="SkillsSSLCertificatePublicKey" />
    <add key="Skills:Environment" value="Local" />
    <add key="Raygun:JobName" value="ADBlocker" />
    <add key="Raygun:AppKey" value="raygun_app_key_here" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>